body {
	background: url(../graphics/bg_what.gif) left bottom;
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

.text { color: #000000; font-size: 12px; line-height: 16pt; font-family: Arial, Helvetica, sans-serif}.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: #333333;
	font-variant: small-caps;
}
.bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #993300;
}
.red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #666633;
}
